{% extends "base.html" %}

{% block content %}
<h2>
    Service Listing
</h2>
<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th class="span2">
                Name
            </th>
            <th class="span4">
                Description
            </th>
            <th class="span1">
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                1
            </td>
            <td>
                Sample Data
            </td>
            <td>
                <a href="detail" class="btn btn-blue">Detail</a>
                <a href="start/" class="btn btn-success">Start</a>
                <a href="delete" class="btn btn-danger">Delete</a>
            </td>
        </tr>
    </tbody>
</table>


{% endblock %}


